<form
  class="gap-2 flex flex-col"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <fieldset class="fieldset bg-slate-800 rounded-box w-xs p-4">
    <div class="relative">
      <input
        type="text"
        class="input pl-10 w-full"
        placeholder="Nombre Completo"
        formControlName="fullName"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="absolute top-1/2 -translate-y-1/2 left-3 w-5 h-5 text-gray-400 z-10 pointer-events-none"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <g fill="none">
          <path
            d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
          />
          <path
            fill="#aeaeae"
            d="M16 14a5 5 0 0 1 4.995 4.783L21 19v1a2 2 0 0 1-1.85 1.995L19 22H5a2 2 0 0 1-1.995-1.85L3 20v-1a5 5 0 0 1 4.783-4.995L8 14zM12 2a5 5 0 1 1 0 10a5 5 0 0 1 0-10"
          />
        </g>
      </svg>
    </div>
    <!-- Email -->
    <div class="relative">
      <input
        type="email"
        class="input pl-10 w-full"
        placeholder="Email"
        formControlName="email"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400 pointer-events-none z-10"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M12 13.5c-.33 0-.65-.1-.92-.3L3.5 7.85A1 1 0 0 1 4.42 6h15.16a1 1 0 0 1 .92 1.85l-7.58 5.35c-.27.2-.59.3-.92.3Z"
        />
        <path
          d="M20 18H4a1 1 0 0 1-1-1V8.41l8.36 5.91a2 2 0 0 0 2.28 0L21 8.41V17a1 1 0 0 1-1 1Z"
        />
      </svg>
    </div>

    <!-- Password -->
    <div class="relative mt-1">
      <input
        type="password"
        class="input pl-10 w-full"
        placeholder="Password"
        formControlName="password"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400 pointer-events-none z-10"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M12 17a2 2 0 0 0 2-2a2 2 0 0 0-2-2a2 2 0 0 0-2 2a2 2 0 0 0 2 2m6-9a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2h1V6a5 5 0 0 1 5-5a5 5 0 0 1 5 5v2zm-6-5a3 3 0 0 0-3 3v2h6V6a3 3 0 0 0-3-3"
        />
      </svg>
    </div>

    <button class="btn btn-secondary w-full mt-1 text-[15px] font-bold">
      Register
    </button>

    <p class="text-slate-200 text-center mt-2 font-semibold">
      ¿Ya tienes una cuenta?

      <a
        routerLink="/auth/login"
        class="text-secondary cursor-pointer hover:underline hover:font-semibold"
        >Inicia sesión aquí</a
      >
    </p>
  </fieldset>
</form>

@if (errorMessages().length > 0) {

<div
  role="alert"
  class="alert alert-error animate-fadeIn fixed top-5 right-5 w-auto max-w-md"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 shrink-0 stroke-current"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <div class="flex flex-col">
    @for (error of errorMessages(); track $index) {
    <span>{{ error }}</span>
    }
  </div>
</div>
}
